services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: trve-in
    restart: unless-stopped
    networks:
      - caddy_net
    labels:
      - caddy=skvggor.dev, trve.in
      - caddy.reverse_proxy={{upstreams}}
      - caddy.encode=zstd gzip
    expose:
      - 3000
    env_file:
      - .env

networks:
  caddy_net:
    external: true
